# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/

# PyCharm project settings
.idea/

# VSCode settings (if applicable)
.vscode/

# Mac system files
.DS_Store

# Python egg metadata and build
*.egg-info/
dist/
build/

# Log and environment files
*.log
.env
